package ${entityPackage};

import org.seasar.extension.jdbc.name.PropertyName;

/**
 *
 * @author advanced-s2jdbc-gen
 * 
 */
public class ${meta.namesName} {

#foreach(${column} in ${meta.table.columnList})
    /**
     * ${column.columnName}のプロパティ名を返します。
     *
     * @return ${column.columnName}のプロパティ名
     */
    public static PropertyName<${column.javaType}> ${column.fieldName}() {
        return new PropertyName<${column.javaType}>("${column.fieldName}");
    }
 
#end
#foreach(${column} in ${meta.table.columnList})
#if(${column.referencedModel})
    /**
     * ${column.referenceFieldName}のプロパティ名を返します。
     *
     * @return ${column.referenceFieldName}のプロパティ名
     */
    public static ${column.referencedModel.namesName}._${column.referencedModel.namesName} ${column.referenceFieldName}() {
        return new ${column.referencedModel.namesName}._${column.referencedModel.namesName}("${column.referenceFieldName}");
    }

#end
#end

    /**
     * @author advanced-s2jdbc-gen
     */
    public static class _${meta.namesName} extends PropertyName<${meta.entityName}> {
        /**
         * インスタンスを構築します。
         */
        public _${meta.namesName}() {
        }

        /**
         * インスタンスを構築します。
         * @param name 名前
         */
        public _${meta.namesName}(final String name) {
            super(name);
        }

        /**
         * インスタンスを構築します。
         * @param parent 親
         * @param name 名前
         */
        public _${meta.namesName}(final PropertyName<?> parent, final String name) {
            super(parent, name);
        }

#foreach(${column} in ${meta.table.columnList})
        /**
         * ${column.fieldName}のプロパティ名を返します。
         * @return ${column.fieldName}のプロパティ名
         */
        public PropertyName<${column.javaType}> ${column.fieldName}() {
            return new PropertyName<${column.javaType}>(this, "${column.fieldName}");
        }

#end
#foreach(${column} in ${meta.table.columnList})
#if(${column.referencedModel})
        /**
         * ${column.referenceFieldName}のプロパティ名を返します。
         * @return ${column.referenceFieldName}のプロパティ名
         */
        public ${column.referencedModel.namesName}._${column.referencedModel.namesName} ${column.referenceFieldName}() {
            return new ${column.referencedModel.namesName}._${column.referencedModel.namesName}(this, "${column.referenceFieldName}");
        }

#end
#end
    }
}