package ${entityPackage};

#foreach(${modelMeta} in ${modelMetaItems})
import ${entityPackage}.${modelMeta.namesName}._${modelMeta.namesName};
#end

/**
 * 名前クラスの集約です。
 * @author advanced-s2jdbc-gen
 * 
 */
public class Names {
#foreach(${modelMeta} in ${modelMetaItems})
    /**
     * {@link ${modelMeta.entityName}}の名前クラスを返します。
     * 
     * @return ${modelMeta.entityName}の名前クラス
     */
    public static _${modelMeta.namesName} ${modelMeta.entityFieldName}() {
        return new _${modelMeta.namesName}();
    }

#end

}