package ${servicePackage};

import java.util.List;
import javax.annotation.Generated;

import ${entityPackage}.${meta.entityName};

import static org.seasar.extension.jdbc.operation.Operations.*;

/**
 * {@link ${entityPackage}.${meta.entityName}}のサービスクラスです。
 *
 */
public class ${meta.serviceName} extends ${meta.abstractServiceName} {

}